<div data-tabs-target="tabPanel" id="tab-1">
  <p class="mb-6">
    Begin by uploading a seed file to initiate a new generation, or use a <a href="/sample.txt" download class="underline">sample file</a> as a guide.
  </p>
  <h3 class="text-xl font-semibold mb-2">Instructions</h3>
  <ul class="list-disc list-inside mb-6">
    <li>On the first line, specify the generation number.</li>
    <li>On the second line, specify the grid size (rows and columns).</li>
    <li>At the end, define the cell states, using "." for a dead cell and "*" for a live cell.</li>
  </ul>
  <%= form_with url: games_path, class: "mt-6 mb-2", data: { controller: "upload-dialog" } do |form| %>
    <%= alert_error(game.errors.full_messages) %>
    <%= form.file_field :file, class: "hidden", accept: "text/plain", data: { action: "upload-dialog#onInputChange", upload_dialog_target: "inputField" } %>
    <button data-action="upload-dialog#openDialog" class="block w-full px-6 py-3 text-center text-lg shadow font-semibold rounded-md bg-lime-400 text-emerald-900 hover:bg-lime-500 hover:text-black transition duration-200">
      Upload seed
    </button>
    <%= form.submit class: "hidden" %>
  <% end %>

  <p class="text-center text-sm mt-2">
    or <a href="/sample.txt" download class="underline">download a sample file</a>
  </p>
</div>
